@mixin flex($align: center, $justify: space-between) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin button-styles() {
  border-radius: 5px;
  padding: 15px 25px;
  width: 138px;
  height: 52px;
  background-color: $background-color;
  color: $text-color;
  font-weight: 700;
  font-size: 14px;
}
@mixin font-max($f-w: 600, $f-s: 64px) {
  font-weight: $f-w;
  font-size: $f-s;
}
@mixin font-min($f-w: 300, $f-s: 16px) {
  font-weight: $f-w;
  font-size: $f-s;
}

@mixin p-s($f-w: 300, $f-s: 16px) {
  font-weight: $f-w;
  font-size: $f-s;
}
